<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="arkade_extensions" sortOrder="4000000">
            <label>Arkade Extensions</label>
        </tab>
        <section id="arkade_s3" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>S3</label>
            <tab>arkade_extensions</tab>
            <resource>Arkade_S3::config_s3</resource>
            <group id="general" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="access_key" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Access Key</label>
                </field>
                <field id="secret_key" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Secret Key</label>
                </field>
                <field id="bucket" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Bucket</label>
                </field>
                <field id="region" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Region</label>
                    <source_model>Arkade\S3\Model\Config\Source\Region</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
